@import './variables';
@import './customized_bootstrap';
@import './mixins';
@import './functions';
@import './hamburgers';

::selection {
  color: var(--white);
  background: var(--primary);
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 4px;
  &-track {
    background: transparent;
  }
  &-thumb {
    background: var(--dark);
    transition: all 0.25s ease-in-out;

    &:hover {
      background: var(--gray);
    }
  }
}

.section {
  &-container {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

* {
  touch-action: manipulation;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h6 {
  line-height: 1.6;
}

.font-weight {
  &-medium {
    font-weight: $font-weight-medium;
  }
}

.page {
  &-enter-active,
  &-leave-active {
    transition: all 0.2s ease;
  }

  &-enter,
  &-leave-active {
    transform: scale(0.9);
    opacity: 0;
  }
}

.transition {
  &__default {
    transition: all 0.3s ease-in-out;
  }
}

.sub-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.tagline {
  @extend .text-uppercase;
  @extend .font-weight-medium;
  letter-spacing: 0.25rem;

  &--primary {
    @extend .text-primary;
  }

  &--dark {
    @extend .text-dark;
  }

  &--light {
    @extend .text-light;
  }
}

button {
  &:focus {
    box-shadow: none;
    outline: none;
    border: 0px solid transparent;
  }
}

//AnimeJS
[class*='moving-letters'] {
  display: inline-block;
  white-space: pre;
}

//Scrolbar
